name: Auto Assign PR

on:
  pull_request:
    types: [opened, ready_for_review]

permissions:
  pull-requests: write

jobs:
  auto-assign:
    name: Auto Assign Reviewer
    runs-on: ubuntu-latest
    
    steps:
      - name: Auto assign reviewers
        uses: kentaro-m/auto-assign-action@v2.0.0
        with:
          configuration-path: .github/auto-assign.yml
